/* entire body css */
.section {
  padding: 10px;
}
/* general */
.btn-red {
  background-color: #a22c29;
  color:#dadada;
  border: 1px solid #a22c29;
  padding:10px;
}
.btn-red:hover {
  background-color: #a22c29;
  color:#dadada;
  border: 1px solid #a22c29;
  transform: scale(1.1);
}
.btn-red:active, .btn-red:focus {
  background-color: #a22c29;
  color:#dadada;
  border: 1px solid #a22c29;
  box-shadow: none;

}
/* home page */
.homePageContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homeTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homeTextContent > h1, .homeTextContent > p {
  color:#dadada;
}

.profilePhoto>img {
  height: 30em;
  width: auto;
}



/* about me page */

.aboutUsContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.aboutUsPhoto>img {
  height: 30em;
  width: auto;
}
.aboutUsTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* skills visual chart */
.skillsVis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.skillsTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 50%;
}
canvas#myChart {
 height: 30em;
 width: auto;
}

/* projects */
.projectTextContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}
.card {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #dadada;
}

/* contact */

.contactForm {
  margin: 20px;
}