/* entire body css */
.section {
  padding: 10px;
}

/* general */
.btn-red {
  background-color: #a22c29;
  color: #dadada;
  border: 1px solid #a22c29;
  padding: 10px;
  margin: 2px;
}

.btn-red:hover {
  background-color: #a22c29;
  color: #dadada;
  border: 1px solid #a22c29;
  transform: scale(1.1);
}

.btn-red:active,
.btn-red:focus {
  background-color: #a22c29;
  color: #dadada;
  border: 1px solid #a22c29;
  box-shadow: none;
}

.btn-white {
  margin-top: 5px;
  background-color: #d6d5c9;
  color: #394648;
  border: 1px solid #d6d5c9;
  padding: 10px;
}

.btn-white:hover {
  background-color: #d6d5c9;
  color: #394648;
  border: 1px solid #d6d5c9;
  transform: scale(1.1);
}

.btn-white:active,
.btn-white:focus {
  background-color: #d6d5c9;
  color: #394648;
  border: 1px solid #d6d5c9;
  box-shadow: none;
}

/* home page */
.homePageContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homeTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeTextContent>h1,
.homeTextContent>p {
  color: #dadada;
}

.profilePhoto>img {
  height: 30em;
  width: auto;
}



/* about me page */

.aboutUsContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aboutUsPhoto>img {
  height: 25em;
  width: auto;
}

.aboutUsTextContent {
  display: flex;
  max-width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* skills visual chart */
.skillsVis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skillsTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 50%;
}

canvas#myChart {
  height: 30em;
  width: auto;
}

.btn-skills {
  margin-top: 20px;
}


/* projects */
.projectTextContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

.card {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #dadada;
}

/* contact */

.contactForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.submitBtnDiv {
  display: flex;
  justify-content: flex-end;
  color: black;
}

.contactFormPhoto>img {
  height: 25em;
  width: auto;
}

.contactFormContainer {
  max-width: 50%;
}

/* media queries */
@media only screen and (max-width: 863px) {

  /* home page for mobile */
  .homePageContent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .homeTextContent {
    margin-top: 50px;
  }

  div.profilePhoto {
    display: flex;
    flex-direction: row;
  }

  .profilePhoto>img {
    height: 20em;
    width: auto;
    /* margin-top: -200px; */
  }

  /* about us */
  .aboutUsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutUsPhoto>img {
    height: 15em;
    width: auto;
  }

  .aboutUsTextContent {
    display: flex;
    max-width: 80%;
    max-height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .aboutUsTextContent>p.hideMobile {
    display: none;
  }

  /* skills vis section */

  .skillsVis {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skillsTextContent {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  canvas#myChart {
    height: 15em;
    width: auto;
  }

  /* contact */
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactFormContainer {
    max-width: 80%;
  }

  .contactFormPhoto>img {
    height: 10em;
    width: auto;
  }
}

/* ended here */

/* ended here */